<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device.width, initial-scale=1">
	<meta name="author" content="">

	<title>Cirrostratus Cloud Chesterfield</title>

  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"">

</head>

<body>
	{% include 'includes/_navbar.html' %}
	<header>

		<img src="{{ url_for('static', filename='CCC1.png')}}" style="display: block; margin-left: auto;
  margin-right: auto; width: 30%;">



	</header>
	<br />
	<hr>


		{% block body %}{% endblock %}
	</div>

	<script src="href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- <script src="{{ url_for('static', filename='jsquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->

</body>

</html>
